[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "taperNOR"]
	path = taperNOR
	url = https://github.com/smartforest-no/tapernor
